
spring:
  application:
    name: restaurant-api
  jackson:
    default-property-inclusion: non-null
    property-naming-strategy: SNAKE_CASE
  datasource:
    url: ${DB_HOST}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      max-lifetime: 60000
      idle-timeout: 30000
      connection-timeout: 30000
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.MySQLDialect
logging:
  level:
    "[org.hibernate.sql]": debug
security:
  jwt:
    user: ${JWT_USER}
    secret-key: ${JWT_SECRET_KEY}
debug: true
front-domain: http://localhost:3000