<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <property name="LOG_DIR" value="logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/app.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level> <!-- Solo se registran mensajes de nivel info y superiores -->
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración de loggers específicos para reducir su nivel de detalle -->
    <logger name="com.zaxxer.hikari" level="warn" />
    <logger name="org.hibernate" level="warn" />

    <!-- Configuración del logger raíz -->
    <root level="info"> <!-- Solo mensajes de nivel info y superiores -->
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
